<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!--
  <configSections>
    <section name="UnhandledException" type="System.Configuration.NameValueSectionHandler, 
			System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  -->

  <!--<configSections>
    <section name="UnhandledException" type="System.Configuration.NameValueSectionHandler, 
			System, Version=1.20.4.18, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>-->
  
  <!--<appSettings>
    <add key="log4net.Internal.Debug" value="false"/>
    <add key="log4net.Config.File" value="log4net.config"/>
    <add key="log4net.Compress.Enable" value="false"/>
    <add key="log4net.IsTheSameException.Enable" value="false"/>    
  </appSettings>-->

  
  <!--<UnhandledException>
    <add key="ContactInfo" value="Bruce Choy" />
    <add key="IgnoreDebug" value="False" />
    <add key="IgnoreRegex" value="get_aspx_ver\.aspx" />
    <add key="EmailTo" value="bchoy@inboxplace.com" />
    <add key="SmtpDefaultDomain" value="10.75.103.230" />
    <add key="SmtpServer" value="mail.mydomain.com" />
  </UnhandledException>-->
  

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <customErrors mode="Off" />
    
    <webServices>
       <!--this adds our error handler to the SOAP pipeline.--> 
      <!--<soapExtensionTypes>
        <add type="ASPUnhandledException.UehSoapExtension,ASPUnhandledException" priority="1" group="0" />
      </soapExtensionTypes>-->

      <!--<protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>-->
    </webServices>
  </system.web>

  <!--<system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <clear/>
        --><!--
        <add
          name="myTrace"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="./Trace/Echo.txt" />
        <remove name="Default" />
        --><!--
      </listeners>
    </trace>
  </system.diagnostics>-->
</configuration>
